@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "palette.scss";
@import "helpers.scss";
@import "header.scss";
@import "amounts.scss";
@import "top-week.scss";
@import "top-best.scss";
@import "footer.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
  max-width: 100vw;
  font-size: 18px;
  overflow-x: hidden;
}

button,
input { border: none; }
ul { list-style: none; }
button { cursor: pointer; }
a { text-decoration: none ;}

.black-text { color: var(--black-text); }
.primary-text { color: var(--color-logo); }
.gray-text { color: var(--subtitle-color); }

.fw-regular { font-weight: 400; }
.fw-medium { font-weight: 500; }
.fw-semi-bold { font-weight: 600; }
.fw-bold { font-weight: 700; }

#root {
  background: url('../img/background.svg') var(--body-background) no-repeat;
  background-position: top center;
  background-size: contain;
  color: var(--text-color);
  margin: 0 auto;
  padding-top: 60px;
}

a { color: var(--text-color);}
h1 { font-size: 50px };

@media only screen and (max-width: 400px) {
  .mobile-hide { display: none !important; }
}
@media only screen and (max-width: 400px) {
  .mobile{ 
    margin: 20px!important;
    padding: 20px!important;
    display: inline !important; 
  }
}
@media only screen and (min-width: 500px) {
  .desktop-hide{
    display: none !important; 
  }
}